<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.minitagbrasil.exampleslayout" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Frame Layout -->
        <activity android:name=".activities.framelayout.ExampleFrameLayoutWrapContentActivity"/>
        <activity android:name=".activities.framelayout.MainFrameLayoutActivity"/>
        <activity android:name=".activities.framelayout.ExampleFrameLayoutFillParentActivity"/>
        <activity android:name=".activities.framelayout.ExampleFrameLayoutProgressBar"/>

        <!-- Linear Layout -->
        <activity android:name=".activities.linearlayout.MainLinearLayout"/>
        <activity android:name=".activities.linearlayout.ExampleLinearLayoutHorizontal"/>
        <activity android:name=".activities.linearlayout.ExampleLinearLayoutVertical"/>
        <activity android:name=".activities.linearlayout.ExampleLinearLayoutGravity"/>
        <activity android:name=".activities.linearlayout.ExampleLinearLayoutElementWeight"/>

        <!-- Table Layout -->
        <activity android:name=".activities.tablelayout.MainTableLayout"/>
        <activity android:name=".activities.tablelayout.ExampleTableLayoutShrink"/>
    </application>

</manifest>
