<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.minitagbrasil.exampledownloadimage">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.VIBRATE"/>
    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- execute after SO boot -->
        <receiver android:name=".DownloadImageReceiver">
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name=".DownloadImageService" android:exported="false">
            <intent-filter>
                <action android:name="DOWNLOAD_IMAGE"/>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".ShowImageActivity"/>

    </application>

</manifest>
