<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.minitagbrasil.examplesservices">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="br.com.minitagbrasil.examplesservices.MainActivity"
            android:label="ExamplesService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MySecondServiceConnector"/>

        <!-- android:exported indicate that service is private and can't be called from another
        applicatons -->
        <service
            android:name=".MyFirstService"
            android:exported="false">
            <intent-filter>
                <action android:name="MY_FIRST_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyMultiThreadingService"
            android:exported="false">
            <intent-filter>
                <action android:name="MULTI_THREADING_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="MY_INTENT_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <service android:name=".MySecondService"/>



    </application>

</manifest>
